@import url(./first.scss);

:root{
    --text-Color: #333;
    --main-color: #ffaa00;
    --main-color-2: #d00;
}

*{
    text-decoration: none;
    list-style-type: none;
    margin: 0;
    padding: 0;
    transition: all .45s ease;
}

body{
    background-color: var(--bg-Color);
    font-family: 'Poppins';
}

nav{
    display: flex;
    width: 95%;
    justify-content: space-around;
    align-items: center;
    gap: 5%;
    padding: 2% 0 ;
}

nav ul{
    display: flex;
}

a{
    padding: 14px;
    color: var(--text-Color);
}

nav div h1{
    color: var(--text-Color);
    font-size: 2rem;
    letter-spacing: 2px;
    font-weight: 600;
}

nav div span, #active{
    display: inline;
    position: relative;
    color: var(--main-color-2);
}

.logo h1 span::after,
#active::after
{
    content: '';
    background-color: var(--main-color);
    width: 100%;
    height: 2px;
    position: absolute;
}

.logo h1 span::after, #active::after{
    bottom: 5;
    left: 0;
}

.logo h1 span::before{
    top: 10;
    left: 0;
}

.Cart{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

}

#item{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 50%;
    gap: 20px;
    margin: 15px 0;
    padding: 20px;
    border: 1px solid black;
}

.image{
    position: relative;
}

#item img{
    width: 50%;
    height: 100%;

}

#item .count{
    position: absolute;
    top: 10%;
    right: 90%;
    background-color: var(--main-color);
    color: var(--text-Color);
    padding: 10px 14px;
    border-radius: 50%;
    font-size: .8rem ;
    z-index: 4;
}

.quit{
    cursor: pointer!important;
    transition: all ease.3s;
    background-color: var(--main-color-2);
    color: var(--text-Color);
    padding: 4px 8px;
    text-align: right;
}

.btn-row{
    display: flex;
    width: 100%;
}

button{
    padding: 10px 20px;
    margin: 0 4px;
    border: none;
    border-radius: 10px;
}

#add{
    background-color: #0d0
}

#add:hover{
    background-color: #090;
}

#minus{
    background-color: #d00;
}

#minus:hover{
    background-color: #a00;
}

#like{
    color: var(--text-Color);
    background: white;
    font-size: 1.5rem;
}

#liked{
    color: #e00;
    font-size: 1.5rem;
    background: white;
}


#Price{
    font-size: calc(1rem * 1.618);
    margin: 20px 0;
    color: var(--main-color);
}

footer{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--text-Color);
    padding: 25px 0;
}

footer h2{
    color: var(--main-color);
    font-size: 2rem;
    padding: 10px;
    font-weight: 500;
}

footer ul li{
    color: white;
    cursor: pointer;
}

footer ul li:hover{
    color: var(--main-color);
}
